body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: rgba(75, 105, 138, 0.26);
}

.player__img {
  width: 60vh;
  margin-bottom: 20px;
  border-radius: 10px;
}

.player__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-timer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: rgb(55, 98, 108);

}

.player__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  aspect-ratio: 1;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(55, 98, 108);
}

.player__button:hover {
  color: rgb(50, 79, 101);
}

.player__button:active {
  color: rgb(43, 67, 86);
}

.icon {
  width: 45px;  /* или любой нужный размер */
  aspect-ratio: 1;
  fill: currentColor; /* чтобы иконка красилась в цвет текста кнопки */
}

/* Скрываем по умолчанию */
.icon-pause { display: none; }

/* Показываем нужную при наличии класса .is-playing */
.is-playing .icon-play { display: none; }
.is-playing .icon-pause { display: block; }